* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.container_aggiunta {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.input_color {
    border: 20px solid white;    
    outline: none;
}