* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.logoImmagine {
    width: 25%;
}

.hamburgerMenu {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    justify-items: flex-end;
    margin-left: 70%;
    margin-top: 1%;
}

.titolo_aggiunta {
    display: flex;
    flex-direction: row;
}

.aggiunta {
    margin-left: 2%;
    width: 10%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.colori {
    margin-left: 1%;
    margin-right: 1%;
}

.card {
    display: flex;
    flex-direction: row;
}

.card_like {
    margin-right: -1%;
}

.container_card {
    height: 20%;
    width: 20%;
    margin-top: 1%;
    padding: 10px;
    background-color: #504444;
    opacity: 70%;
    justify-content: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    margin-right: 1%;
    margin-left: 2%;
}
  
.container_above {
    height: 70px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #6A6A6A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numeri {
    display: flex;
    flex-direction: row;
}

.like {
    margin-left: 130px;
}

.esagono {
    position: relative;
    width: 60px; 
    height: 34.64px;
    background-color: blue;
    margin: 17.32px 0;
    display: flex;
    text-align: center;
    left: 35%;
}
  
.esagono:before,
.esagono:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
  
.esagono:before {
    bottom: 100%;
    border-bottom: 17.32px solid blue;
}
  
.esagono:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid blue;
}

.e2 {
    background-color: white;
}

.e2:before {
    border-bottom: 17.32px solid white;
}

.e2:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid white;
}

.e3 {
    background-color: black;
}

.e3:before {
    border-bottom: 17.32px solid black;
}

.e3:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid black;
}

.e4 {
    background-color: orange;
}

.e4:before {
    border-bottom: 17.32px solid orange;
}

.e4:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid orange;
}

.e5 {
    background-color: orangered;
}

.e5:before {
    border-bottom: 17.32px solid orangered;
}

.e5:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid orangered;
}

.e6 {
    background-color: peru;
}

.e6:before {
    border-bottom: 17.32px solid peru;
}

.e6:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid peru;
}

.e7 {
    background-color: sienna;
}

.e7:before {
    border-bottom: 17.32px solid sienna;
}

.e7:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid sienna;
}

.e8 {
    background-color: yellowgreen;
}

.e8:before {
    border-bottom: 17.32px solid yellowgreen;
}

.e8:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid yellowgreen;
}