* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Prima parte */
.prima_parte {
  background-image: url('../images/triangles.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.immagine_logo {
  width: 30%;
  border: 10px solid transparent;
}

.btn {
  /*   padding: 10px 20px; */
  background-color:#5F5959;
  opacity: 0.8;
  color:#fff;
  position: absolute;
  top: 50%;
  left: 40%;
  height: 10%;
  width: 10%;
  margin-left: -5%;
  margin-top: -1%;
  border: none;
  border-style: outset;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration: none;
  outline: none;
}
  
.btn1 {
  /*   padding: 10px 20px; */
  background-color:#5F5959;
  opacity: 0.8;
  color:#fff;
  position: absolute;
  top: 50%;
  left: 55%;
  height: 10%;
  width: 10%;
  margin-left: -5%;
  margin-top: -1%;
  border: none;
  border-style: outset;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration: none;
  outline: none;
}

/* Seconda parte */
.riga_1_esagoni {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}

.riga_2_esagoni {
  display: flex;
  flex-direction: row;
  margin-left: 12.5%;  
}

.riga_3_esagoni {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}

.riga_4_esagoni {
  display: flex;
  flex-direction: row;
  margin-left: 12.5%;  
}

.esagono {
  position: relative;
  width: 150px; 
  height: 86.60px;
  margin: 100px 50px;
}

.esagono:before,
.esagono:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.esagono:before {
  bottom: 100%;
  border-bottom: 43.30px solid #64C7CC;
}

.esagono:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #64C7CC;
}

.rosso {
  background-color: red;
}

.rosso:before {
  border-bottom: 43.30px solid red;
}

.rosso:after {
  border-top: 43.30px solid red;
}

.verde {
  background-color: green;
}

.verde:before {
  border-bottom: 43.30px solid green;
}

.verde:after {
  border-top: 43.30px solid green;
}

.giallo {
  background-color: yellow;
}

.giallo:before {
  border-bottom: 43.30px solid yellow;
}

.giallo:after {
  border-top: 43.30px solid yellow;
}

.blu {
  background-color: blue;
}

.blu:before {
  border-bottom: 43.30px solid blue;
}

.blu:after {
  border-top: 43.30px solid blue;
}

.tronco {
  background-color: #79443B;
}

.tronco:before {
  border-bottom: 43.30px solid #79443B;
}

.tronco:after {
  border-top: 43.30px solid #79443B;
}
      
.catrame_scuro {
  background-color: #918151;
}

.catrame_scuro:before {
  border-bottom: 43.30px solid #918151;
}

.catrame_scuro:after {
  border-top: 43.30px solid #918151;
}

.cobalto {
  background-color: #0047AB;
}

.cobalto:before {
  border-bottom: 43.30px solid #0047AB;
}

.cobalto:after {
  border-top: 43.30px solid #0047AB;
}

.crema {
  background-color: #FFFDD0;
}

.crema:before {
  border-bottom: 43.30px solid #FFFDD0;
}

.crema:after {
  border-top: 43.30px solid #FFFDD0;
}

.cremisi {
  background-color: #DC143C;
}

.cremisi:before {
  border-bottom: 43.30px solid #DC143C;
}

.cremisi:after {
  border-top: 43.30px solid #DC143C;
}

/* Inizio footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
  max-height: 70px;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company{
  background-image: url(../images/colorambo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 33%;
  height: 60px;
}

.company, .copyright{
  width: 33%;
  font-size: 14px;
  color: lavender;
  text-align: center;
}

.social-icon{
  width: 33%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ulFooter {
  /* transform: translate(-50%, -50%); */
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
  
.ulFooter li {
  list-style: none;
  text-decoration: none;
}
  
.ulFooter li a {
  /*  position: relative; */
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.ulFooter li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration: none;
}

.ulFooter li a .fa {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
  text-decoration: none;
}

.ulFooter li:nth-child(1) a:hover .fa {
  color: #3b5998;
  text-decoration: none;
}

.ulFooter li:nth-child(2) a:hover .fa {
  color: #00aced;
  text-decoration: none;
}

.ulFooter li:nth-child(3) a:hover .fa {
  color: #dd4b39;
  text-decoration: none;
}

.ulFooter li:nth-child(4) a:hover .fa {
  color: #007bb6;
  text-decoration: none;
}

.ulFooter li:nth-child(5) a:hover .fa {
  color: #e4405f;
  text-decoration: none;
}
/* Fine footer */